#top img {
  width: 400px;
}

#logo {
  padding-left: 20px;
  padding-top: 70px;
}

#top {
  background-color: white;
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 50px;
  font-family: 'Inknut Antiqua', serif;

}

#extras-row {
  display:none;
}

#pizza-pic-row {
  display: none;
}

#pizza-image {
  width: 400px;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
}


#show-pizza img {
  width: 250px;
}

#pizza-image {
  margin-top: 50px;
  border: 2px solid black;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  padding: 60px;
  border: 4px solid #FC1F44;
  font-size: 14pt;
}

body {
  background-image: url(../img/background.jpg);
}

.btn {
  background-color: #19AD3E;
  color: white;
}

.btn:hover {
  background-color: black;
  color: white;
}
